In [18]:
import os
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import LeaveOneGroupOut
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score

In [19]:
nfl_season_df = pd.read_csv(os.path.join(os.getcwd(), 'nfl_season_data.csv'), index_col=0)
nfl_season_df

,season_n,team_name,season_n-1_epa,season_n-1_opposing_win_pct,season_n_opposing_exp_win_pct,season_n_wins
0,2010,ARI,0.232340,0.445312,0.482422,5
1,2010,ATL,0.320527,0.496094,0.488281,13
2,2010,BAL,1.245432,0.507812,0.488281,12
3,2010,BUF,-0.587669,0.500000,0.517578,4
4,2010,CAR,0.069489,0.476562,0.503906,2
...,...,...,...,...,...,...
372,2021,SEA,0.718622,0.511029,0.503460,7
373,2021,SF,-0.159746,0.488971,0.477509,10
374,2021,TB,1.858550,0.465074,0.491349,13
375,2021,TEN,0.370473,0.507353,0.498270,12
376,2021,WAS,-0.130589,0.503676,0.522491,7

In [30]:
X = nfl_season_df[['season_n','season_n-1_epa','season_n-1_opposing_win_pct','season_n_opposing_exp_win_pct']]
y = nfl_season_df[['season_n_wins']]
groups = nfl_season_df['season_n']

In [31]:
logo = LeaveOneGroupOut()
logo.get_n_splits(X, y, groups)

12

In [32]:
print(logo)

LeaveOneGroupOut()

In [53]:
regr = RandomForestRegressor(max_depth=3, random_state=42)

In [54]:
cross_val_score(estimator=regr, X=X, y=np.ravel(y), groups=groups, cv=logo, scoring='neg_root_mean_squared_error')

array([-2.99980707, -2.75795282, -2.98747886, -3.00987722, -2.67594841,
       -3.00495491, -3.08340602, -2.9227122 , -2.49766768, -2.73669043,
       -3.05794404, -2.40056871])