# Exploratory Data Analysis
- Goal is to investigate how well NFL win totals describe the season's performances and how well they predict future performances

### Recreate Football Outsiders 2011 Week 13 Pythagorean Calc

In [1]:
# ref: https://www.footballoutsiders.com/dvoa-ratings/2011/week-13-dvoa-ratings

In [2]:
import os
import numpy as np
import pandas as pd
import nfl_data_py as nfl

In [3]:
season_df = nfl.import_schedules(years=[2011])
season_df.columns

Index(['game_id', 'season', 'game_type', 'week', 'gameday', 'weekday',
       'gametime', 'away_team', 'away_score', 'home_team', 'home_score',
       'location', 'result', 'total', 'overtime', 'old_game_id', 'gsis',
       'nfl_detail_id', 'pfr', 'pff', 'espn', 'away_rest', 'home_rest',
       'away_moneyline', 'home_moneyline', 'spread_line', 'away_spread_odds',
       'home_spread_odds', 'total_line', 'under_odds', 'over_odds', 'div_game',
       'roof', 'surface', 'temp', 'wind', 'away_qb_id', 'home_qb_id',
       'away_qb_name', 'home_qb_name', 'away_coach', 'home_coach', 'referee',
       'stadium_id', 'stadium'],
      dtype='object')

In [4]:
regular_season = 'REG'
season_cols = ['game_id','season','game_type','week','home_team','away_team','home_score','away_score']
season_df = season_df.loc[((season_df['game_type'] == regular_season)&(season_df['week'] <= 13)),season_cols]

In [5]:
season_df = pd.melt(season_df, id_vars=['game_id','season','game_type','home_score', 'away_score'], var_name=['home_away'], value_vars=['home_team', 'away_team'], value_name='team_name')

In [6]:
season_df

,game_id,season,game_type,home_score,away_score,home_away,team_name
0,2011_01_NO_GB,2011,REG,42.0,34.0,home_team,GB
1,2011_01_PIT_BAL,2011,REG,35.0,7.0,home_team,BAL
2,2011_01_ATL_CHI,2011,REG,30.0,12.0,home_team,CHI
3,2011_01_CIN_CLE,2011,REG,17.0,27.0,home_team,CLE
4,2011_01_IND_HOU,2011,REG,34.0,7.0,home_team,HOU
...,...,...,...,...,...,...,...
379,2011_13_DAL_ARI,2011,REG,19.0,13.0,away_team,DAL
380,2011_13_GB_NYG,2011,REG,35.0,38.0,away_team,GB
381,2011_13_STL_SF,2011,REG,26.0,0.0,away_team,STL
382,2011_13_DET_NO,2011,REG,31.0,17.0,away_team,DET
383,2011_13_SD_JAX,2011,REG,14.0,38.0,away_team,SD

In [7]:
home_team = (season_df.home_away == 'home_team')
away_team = (season_df.home_away == 'away_team')
home_points_for = season_df.home_score
away_points_for = season_df.away_score
conditions = [home_team, away_team]
results = [home_points_for, away_points_for]
season_df['points_for'] = np.select(conditions, results, default=0)

In [8]:
home_team = (season_df.home_away == 'home_team')
away_team = (season_df.home_away == 'away_team')
home_points_against = season_df.away_score
away_points_against = season_df.home_score
conditions = [home_team, away_team]
results = [home_points_against, away_points_against]
season_df['points_against'] = np.select(conditions, results, default=0)

In [9]:
season_df

,game_id,season,game_type,home_score,away_score,home_away,team_name,points_for,points_against
0,2011_01_NO_GB,2011,REG,42.0,34.0,home_team,GB,42.0,34.0
1,2011_01_PIT_BAL,2011,REG,35.0,7.0,home_team,BAL,35.0,7.0
2,2011_01_ATL_CHI,2011,REG,30.0,12.0,home_team,CHI,30.0,12.0
3,2011_01_CIN_CLE,2011,REG,17.0,27.0,home_team,CLE,17.0,27.0
4,2011_01_IND_HOU,2011,REG,34.0,7.0,home_team,HOU,34.0,7.0
...,...,...,...,...,...,...,...,...,...
379,2011_13_DAL_ARI,2011,REG,19.0,13.0,away_team,DAL,13.0,19.0
380,2011_13_GB_NYG,2011,REG,35.0,38.0,away_team,GB,38.0,35.0
381,2011_13_STL_SF,2011,REG,26.0,0.0,away_team,STL,0.0,26.0
382,2011_13_DET_NO,2011,REG,31.0,17.0,away_team,DET,17.0,31.0
383,2011_13_SD_JAX,2011,REG,14.0,38.0,away_team,SD,38.0,14.0

In [10]:
points_df = season_df.groupby(['team_name','season']).agg({'points_for':'sum', 'points_against':'sum', 'game_type':'count'}).reset_index()

In [11]:
points_df['pythagorean'] = ((points_df['points_for']**2.37) / (points_df['points_for']**2.37 + points_df['points_against']**2.37))
points_df['pythagorean_wins'] = points_df['pythagorean'] * points_df['game_type']

In [12]:
points_total = (points_df['points_for'] + points_df['points_against'])
games_played = points_df['game_type']
avg_tot_pts = points_total / games_played

In [13]:
points_df['fo_pythagenport_exp'] = np.log10(avg_tot_pts) * 1.5 #ref: https://legacy.baseballprospectus.com/glossary/index.php?mode=viewstat&stat=559

In [14]:
points_df['fo_pythagorean'] = ((points_df['points_for']**points_df['fo_pythagenport_exp']) / (points_df['points_for']**points_df['fo_pythagenport_exp'] + points_df['points_against']**points_df['fo_pythagenport_exp']))
points_df['fo_pythagorean_wins'] = points_df['fo_pythagorean'] * points_df['game_type']

In [15]:
points_df

,team_name,season,points_for,points_against,game_type,pythagorean,pythagorean_wins,fo_pythagenport_exp,fo_pythagorean,fo_pythagorean_wins
0,ARI,2011,232.0,269.0,12,0.413213,4.958557,2.430985,0.411027,4.932321
1,ATL,2011,269.0,244.0,12,0.557538,6.690460,2.446404,0.559376,6.712512
2,BAL,2011,296.0,192.0,12,0.736118,8.833415,2.413858,0.739789,8.877468
3,BUF,2011,278.0,304.0,12,0.447224,5.366687,2.528613,0.443721,5.324650
4,CAR,2011,290.0,324.0,12,0.434689,5.216270,2.563481,0.429426,5.153110
5,CHI,2011,291.0,242.0,12,0.607542,7.290510,2.471319,0.611988,7.343853
6,CIN,2011,266.0,250.0,12,0.536690,6.440279,2.450203,0.537927,6.455122
7,CLE,2011,175.0,240.0,12,0.321133,3.853592,2.308300,0.325396,3.904751
8,DAL,2011,283.0,244.0,12,0.586962,7.043544,2.463944,0.590335,7.084020
9,DEN,2011,256.0,292.0,12,0.422667,5.072000,2.489399,0.418838,5.026054
10,DET,2011,333.0,277.0,12,0.607395,7.288743,2.559223,0.615672,7.388061
11,GB,2011,420.0,262.0,12,0.753697,9.044362,2.631905,0.775916,9.310991
12,HOU,2011,310.0,189.0,12,0.763639,9.163670,2.428379,0.768813,9.225761
13,IND,2011,174.0,358.0,12,0.153176,1.838117,2.470096,0.144042,1.728500
14,JAX,2011,152.0,238.0,12,0.256797,3.081561,2.267825,0.265637,3.187649
15,KC,2011,163.0,268.0,12,0.235331,2.823970,2.332944,0.238663,2.863952
16,MIA,2011,246.0,220.0,12,0.565801,6.789609,2.383807,0.566180,6.794155
17,MIN,2011,246.0,330.0,12,0.332652,3.991826,2.521862,0.322824,3.873885
18,NE,2011,362.0,247.0,12,0.712170,8.546040,2.558154,0.726685,8.720223
19,NO,2011,393.0,269.0,12,0.710634,8.527602,2.612515,0.729167,8.750003
20,NYG,2011,287.0,315.0,12,0.445067,5.340799,2.550623,0.440918,5.291012
21,NYJ,2011,290.0,260.0,12,0.564342,6.772102,2.491772,0.567608,6.811300
22,OAK,2011,274.0,308.0,12,0.431135,5.173617,2.528613,0.426590,5.119085
23,PHI,2011,271.0,282.0,12,0.476443,5.717315,2.495316,0.475199,5.702392
24,PIT,2011,268.0,195.0,12,0.679969,8.159630,2.379600,0.680633,8.167597
25,SD,2011,287.0,289.0,12,0.495885,5.950626,2.521862,0.495622,5.947462
26,SEA,2011,216.0,246.0,12,0.423548,5.082574,2.378191,0.423288,5.079453
27,SF,2011,288.0,161.0,12,0.798716,9.584591,2.359598,0.797742,9.572899
28,STL,2011,140.0,296.0,12,0.144989,1.739864,2.340458,0.147752,1.773027
29,TB,2011,218.0,329.0,12,0.273805,3.285657,2.488209,0.264238,3.170862
30,TEN,2011,249.0,229.0,12,0.549448,6.593381,2.400370,0.550078,6.600934
31,WAS,2011,202.0,256.0,12,0.363206,4.358472,2.372526,0.363068,4.356811